@model RadCms.Core.Containers.Models.EditNaviNodeModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Core/Views/Shared/_LayoutCmsPopup.cshtml";       
}
@using RadCms.Helpers
@if (@ViewBag.NaviNode.Parent != null)
{    
    <div>@Html.ActionBreadcrumbCms((RadCms.Entities.NaviNode)@ViewBag.NaviNode.Parent)@ViewBag.NaviNode.NodeName//
    </div>
}
<p>
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>New Section</legend>
        @Html.HiddenFor(model => model.ParentId)
        <div class="editor-label">
            @Html.LabelFor(model => model.NodeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NodeName)
            @Html.ValidationMessageFor(model => model.NodeName)
        </div>
        <p>
            <input type="submit" value="Create" />
            |
            @Html.ActionLink("Back to Section", "Navi", "Section", new { id = @ViewBag.NaviNode.Id }, null)
        </p>
    </fieldset>
}
