@model RadCms.Entities.IPage
@{
    ViewBag.Title = "Web Page - " + Model.Title;
    Layout = "~/Core/Views/Shared/_LayoutGlobalNew.cshtml";
    var accessMode = ViewBag.AccessMode;
    var actionViewModel = new RadCms.Core.Containers.Models.ActionBarModel
    {
        Id = Model.Id,
        IsPublished = Model.IsPublished,
        Status = Model.Status,
        SectionId = Model.NaviNode.Id,
        ModifiedBy = Model.ModifiedBy,
        LastModified = Model.Modified,
        AccessMode = accessMode,
    };
}
@using RadCms.Helpers
@using RadCms.Entities
@section header{
    <link href="@Url.Content("~/layout/styles/" + Model.Layout)" type="text/css" rel="Stylesheet" />
    <style type="text/css">
        @Html.BackgroundStyle(Model.Status)
        .header-container{
            background-position: 0 100px;
        }
        #headerTop{
            margin-top: 100px;
        }
    </style>
    
    <script src="/Core/Scripts/cms/cms-comm.js" type="text/javascript"></script>
    <script src="/Core/Scripts/cms/cmsPage.js" type="text/javascript"></script>
    <script type="text/javascript">
        var currentPageId = "@(Model.Id)";
        var pageLayoutId = "@(Model.Layout)";

        function restore() {
            $('#actForm').submit();
        }

    </script>
    @Html.Raw(Model.ContentHtml == null ? "" : Model.ContentHtml.Header)
    @Html.Raw(ViewBag.WebpartHeaders)
}
@section leftActionBar{
    @{Html.RenderPartial("~/Core/Containers/Views/PageCms/_LeftVersionBarPartial.cshtml", actionViewModel);}
    @if (ViewBag.AccessMode >= PermissionType.Edit)
{
    <div style="display: none">
        @using (Html.BeginForm("Restore", "PageCms", new { id = ViewBag.VerId, area = "Containers" }, FormMethod.Post, new { @id = "actForm" }))
        {
        }
    </div>
}
}
@section rightActionBar {
    @Html.Partial("~/Core/Containers/Views/PageCms/_RightVersionBarPartial.cshtml", actionViewModel)
}
@section statusBar{
    @Html.Partial("~/Core/Containers/Views/PageCms/_MessageBarPartial.cshtml", actionViewModel)
}
<div id="contentWrapper" class="clear-fix">
    @Html.Raw(Model.ContentHtml.Content)
</div>