@model RadCms.Entities.FooterItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FooterItem</legend>

    <div class="display-label">Section</div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.Section, new SelectList(@ViewBag.Sections, Model.Section), new { @disabled = "disabled" })
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Link</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>

    <div class="display-label">Target</div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.Target, new SelectList(@ViewBag.Targets, "Value", "Key", Model.Target), new { @disabled = "disabled" })
    </div>

    <div class="display-label">Index</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Index)
    </div>

    <div class="display-label">IsPublished</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPublished)
    </div>

    <div class="display-label">CreatedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">Created</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">ModifiedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>

    <div class="display-label">Modified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
