@using RadCms.Helpers
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js gt-ie8"> <!--<![endif]-->
<head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/> 
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic|Open+Sans:400,700,400italic|Open+Sans+Condensed:700' rel='stylesheet' type='text/css' />

    <link href="@Url.Content("~/Core/assetsCms/css/cms.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/cms/kendo", "~/cms/kendoSilver")
    @Scripts.Render(
                "~/bundles/modernizr", 
                "~/common/js",
                "~/kendo/web/js")
    @RenderSection("header", required: false)
    <style type="text/css">
        html, body
        {
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>   
    @RenderBody()
    <div id="cmsBar">
        <div id="cmsBarContent">
            <div id="cmsButtons"> 
                @RenderSection("cmsButtons", required: false)
            <div style="clear:both"></div>
            </div>
        </div>
    </div>
</body>
</html>
